$w: 30.6rem;
$h: 54rem;
$headerH: 6rem;
$cardW: 24rem;
$cardH: 32rem;
$cardTopH: 20.5rem;
$cardBtmH: $cardH - $cardTopH;
$imgSize: 10rem;

$purple: #7132B9;
$blue: #248CB6;
$indigo: #303F9F;
$cyan: #26C6DA;
$lime: #AFB42B;
$brown: #795548;
$orange: #FF945A;
$green: #B1DA96;

// Typology
%thin {
    font-weight: 300;
}
%medium {
    font-weight: 500;
}
%bold {
    font-weight: 700;
}