@import 'variables.scss';
//sass --watch sass/style.scss:css/style.css --style compressed
body {
    margin: 0;
    p {
        font-family: 'Montserrat', sans-serif;
    }
    header {
        .test {
            @extend %gradient;
            height: 200px;
            width: 100%;
        }
    }
}

.add_remove{
    cursor:pointer;
}

table{
    border:1px solid #c9c9c9;
    border-radius:5px;
    margin-left:auto;
    margin-right:auto;
    width:80%;
    margin-top:25px;
}

.buy{
    width:80%;
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
    border:1px solid #c9c9c9;
    border-radius:5px;
    padding:5px;
    box-sizing:border-box;
}

tr, td{
    border:1px solid #c9c9c9;
}