@import 'variables.scss';
//sass --watch sass/style.scss:css/style.css --style compressed
body {
    margin: 0;
    p {
        font-family: 'Montserrat', sans-serif;
    }
    header {
        .test {
            @extend %gradient;
            height: 200px;
            width: 100%;
        }
    }
}